.layout {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* ============ footer ============*/

.footer {
  display: flex;
  justify-content: center; /* centra vertical/horizontal */
  align-items: flex-end;
  height: 100vh;
}

.footer__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px; /* la caja se ajusta al tamaño del contenido */
  position: relative;
}

.footer__p {
  transform: rotate(-90deg);
  transform-origin: center center; /* girar desde el centro */
  white-space: nowrap; /* evita que el texto se rompa */
  position: absolute;
  bottom: 64px;
  color: var(--color-accent);
}
/* ============ main ============*/
.main {
  position: sticky;
  padding: var(--space-3);
  height: 100%;
  width: 100%;
  display: flex;
  border: 1px solid var(--color-text-secondary);
  border-radius: 8px;
}
.main__container--left {
  position: absolute;
  top: 0;
  left: 0;
  margin: var(--space-3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 64px);
  width: fit-content;
}
.hero {
  display: flex;
  flex-direction: column;
}
.name {
  font-weight: 100;
  font-size: var(--font-2xl);
  line-height: 56px;
}
.name__initial {
  font-size: var(--font-3xl);
}
.subtitle {
  margin-left: 4px;
  font-size: var(--font-lg);
  color: var(--color-accent);
  font-weight: 100;
}
.about {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  max-width: 180px;
  color: var(--color-text-secondary);
}
.main__container--right {
  padding-block: var(--space-4);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--space-4);

  flex: 1;
  max-height: 100%;
  overflow-y: auto;

  /* scrollbar invisible */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.main__container--right::-webkit-scrollbar {
  width: 0px; /* Chrome, Safari, Opera */
  background: transparent; /* opcional: fondo transparente */
}
.proyect {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--space-2);
  opacity: 60%;
  cursor: pointer;
}
.proyect:hover {
  opacity: 100%;
}
.proyect__container {
  display: flex;
  gap: var(--space-1);
}
.proyect__id {
  font-size: var(--font-xl);
  font-weight: 100;
}
.proyect__title {
  font-size: var(--font-4xl);
  font-weight: 100;
  line-height: 72px;
}
.proyect__subtitle {
  font-size: var(--font-md);
  text-align: end;
}
/* ============ header ============*/

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header__navbar {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  justify-content: center;
  align-items: center;
  width: 40px; /* la caja se ajusta al tamaño del contenido */
}

.header__navbar--item {
  transform: rotate(90deg);
  transform-origin: center center; /* girar desde el centro */
  white-space: nowrap; /* evita que el texto se rompa */
  color: var(--color-text-secondary);
  text-decoration: none;
}
.header__navbar--item:hover {
  color: var(--color-text-primary);
}

/* Tablet: desde 769px hasta 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
  .main {
    padding: var(--space-2);
  }
  .main__container--left {
    height: calc(100% - 32px);
    margin: var(--space-2);
  }
  .name {
    font-size: var(--font-xl);
    line-height: 40px;
  }
  .name__initial {
    font-size: var(--font-2xl);
  }
  .subtitle {
    margin-left: 3px;
    font-size: var(--font-md);
  }
  .about {
    max-width: 140px;
  }

  .main__container--right {
    padding-block: var(--space-5);
    gap: var(--space-3);
  }
  .proyect {
    max-width: 400px;
    opacity: 100%;
    gap: var(--space-1);
  }
  .proyect__id {
    font-size: var(--font-lg);
  }
  .proyect__title {
    font-size: var(--font-3xl);
    line-height: 52px;
  }
  .proyect__subtitle {
    font-size: var(--font-sm);
  }
}
/* Mobile: hasta 768px */
@media (max-width: 768px) {
  .main {
    padding: var(--space-1);
  }
  .main__container--left {
    height: calc(100% - 16px);
    margin: var(--space-1);
  }
  .footer__wrapper,
  .header__navbar {
    width: 20px;
  }
  .name {
    font-size: var(--font-lg);
    line-height: 24px;
  }
  .name__initial {
    font-size: var(--font-xl);
  }
  .subtitle {
    margin-left: 2px;
    font-size: var(--font-sm);
  }
  .about {
    max-width: 100px;
    font-size: var(--font-xs);
  }
  .main__container--right {
    padding-block: var(--space-4);
    gap: var(--space-2);
  }
  .proyect {
    max-width: 200px;
    opacity: 100%;
    gap: 0;
  }
  .proyect__id {
    font-size: var(--font-md);
  }
  .proyect__title {
    font-size: var(--font-2xl);
    line-height: 42px;
  }
  .proyect__subtitle {
    font-size: var(--font-sm);
  }
}
