/* ============================= */
/* Fuentes personalizadas         */
/* ============================= */

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* ============================= */
/* Variables CSS (colores, espacios, fuentes) */
/* ============================= */

:root {
  /* Colores base */
  --color-bg: #0b151b;
  --color-text-primary: #e6e7e8;
  --color-text-secondary: rgba(230, 231, 232, 0.6);
  --color-accent: #00f0ff;

  /* Espaciados (padding/margin) */
  --space-1: 8px;
  --space-2: 16px;
  --space-3: 32px;
  --space-4: 64px;
  --space-5: 96px;

  /* Tamaños de fuente */
  --font-2xs: 6px;
  --font-xs: 8px;
  --font-sm: 12px;
  --font-md: 16px;
  --font-lg: 24px;
  --font-xl: 32px;
  --font-2xl: 48px;
  --font-3xl: 64px;
  --font-4xl: 96px;
}

/* ============================= */
/* Reset básico y box-sizing     */
/* ============================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ============================= */
/* Estilos base de html y body   */
/* ============================= */

html,
body {
  min-height: 100%;
  background-color: var(--color-bg);
  color: var(--color-text-primary);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: var(--font-sm);
}

/* ============================= */
/* Contenedor raíz (#root)       */
/* ============================= */

#root {
  min-height: 100dvh;
  padding-inline: var(--space-2);
  padding-block: var(--space-4);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ============================= */
/* Main Background           */
/* ============================= */
.mainBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none; /* No bloquea clics en elementos debajo */
  overflow: hidden;
  background: transparent;
  opacity: 0.2;
  border-radius: 16px;
  box-shadow: 0 0 4px 1px var(--color-text-primary);
}

/* ============================= */
/* Responsivo - Tablet           */
/* ============================= */

@media (min-width: 769px) and (max-width: 1024px) {
  #root {
    padding-inline: var(--space-1);
    padding-block: var(--space-2);
  }
  .mainBackground {
    border-radius: 12px;
  }
}

/* ============================= */
/* Responsivo - Mobile           */
/* ============================= */

@media (max-width: 768px) {
  #root {
    padding-inline: 0px;
    padding-block: var(--space-2);
  }
  .mainBackground {
    border-radius: 8px;
  }
}
