@font-face {
  font-family: "Lamoric-Rowen";
  src: url("/fonts/LamoricRowenTTF.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
:root {
  /* Base */
  --color-bg: #0b0b0c;
  --color-text-primary: #ededed;
  --color-text-secondary: rgba(237, 237, 237, 0.6);

  /* Padding */
  --space-1: 8px;
  --space-2: 16px;
  --space-3: 32px;
  --space-4: 64px;
  --space-5: 98px;

  /* Font sizes */
  --font-xs: 8px;
  --font-sm: 12px;
  --font-md: 16px;
  --font-lg: 24px;
  --font-xl: 32px;
  --font-2xl: 48px;
  --font-3xl: 64px;
  --font-4xl: 96px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: var(--color-bg);
  color: var(--color-text-primary);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: var(--font-sm);
}
#root {
  padding: var(--space-2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* Tablet: desde 769px hasta 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
  #root {
    padding-inline: var(--space-1);
  }
}
/* Mobile: hasta 768px */
@media (max-width: 768px) {
  #root {
    padding-inline: 0px;
  }
}
.highlight {
  color: var(--color-text-primary);
}
.highlight__initial {
  font-size: var(--font-md);
}
